@charset "ISO-8859-1";
input.error,
select.error,
textarea.error {
  outline: none;
  border-color: red;
  border-width: 1px;
  border-style: solid;
  
  // Use CSS to visually restore valid fields
  }
table{

display:inline-block;
margin:20px;
 border-color: white;
  border-width: 1px;
  border-style: dotted;
}

div#forms{
display: inline-block
}
div#GymMember{
float:left;
}
div#TrainingSession{
float:left;
}
div#Booking{
float:left;
}

p{
font-size:12;
}

input.valid,
select.valid,
textarea.valid {
  outline: none;
  border-color: green;
  border-width: 1px;
  border-style: solid;
  
  // Use CSS to visually restore valid fields
  }

body {
  background-color: lightblue;
  text-align:center;
  position:relative;
  font-family: "Lucida Console", Courier, monospace;

    

  
}
header {
	height: 200px;
  padding: 30px;
  text-align: center;
  background: lightblue;
  color: white;
  font-size: 15px;
  border-bottom: 1px solid white;
overflow:auto;
  font-family: "Lucida Console", Courier, monospace;
}
h1{
  font-family: "Lucida Console", Courier, monospace;
display: block;
  font-size: 5em;
  margin-top: 1em;
  margin-bottom: 0.67em;
  margin-left: 1;
  margin-right: 1;
  font-weight: normal;
text-decoration:underline;

}

/* Add a black background color to the top navigation */
nav {
  background-color: light blue;
  text-align: center;
  overflow: hidden;
  float: center;
}

/* Style the links inside the navigation bar */
nav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px 15px ;
  text-decoration: none;
  font-size: 17px;


}

/* Change the color of links on hover */
nav a:hover {
  background-color: lightblue;
  color: black;
}

/* Add a color to the active/current link */
nav a.active {
    border-bottom: 1px solid white;

}
fieldset { 
display: inline-block;
float:left;
padding:15px;
 margin: 1opx;
  border: 1px dotted white;
  text-align: left;
 font-size:13px;	
height:325px

}
legend{
background-color: #000;
color:white;


}
label{
display: inline-block;
margin:4px;
}

input[type="text"],[type="number"]{
float:right;
border-radius: 25px;
}
input#CreateGymMember,#CreateBooking,#CreateTrainingSession{
width:200px;
background-color:green;
color:white;
}
#memberId{
margin:5px;
width:50px;
}
#memberId.option[value=""][disabled] {
  display: none;
}
input[type="button"]{
float:left;
width:150px;
background-color:black;
color:white;
}
#deleteByMemberId{
background-color:red;
}

}

section#main{
padding:30px;

}
section#main p{
font-size:15px;
color:white;
border-bottom: 1px dotted white;

}

aside {
float: right;
width: 30%; background-color: #f1f1f1;
}

footer{
bottom:0px;
  height: 100px;
  background: lightblue;
  font-family: "Lucida Console", Courier, monospace;
 

}
*{
	  font-family: "Lucida Console", Courier, monospace;
	
}
span.error{
	colour:red;
}
.success{
	color:green;
}
